/* 모든 HTML 요소에 대한 기본 스타일 설정 */
* {
    margin: 0; /* 모든 요소의 외부 여백을 0으로 설정 */
    padding: 0; /* 모든 요소의 내부 여백을 0으로 설정 */
    box-sizing: border-box; /* 요소의 너비와 높이를 border를 포함하여 계산 */
}

/* 모든 링크에 대한 기본 스타일 설정 */
a, a:link, a:visited {
    color: inherit; /* 링크 색상을 상위 요소에서 상속 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

/* 목록 항목에 대한 기본 스타일 설정 */
li {
    list-style: none; /* 목록 항목 앞의 기본 마커 제거 */
}

/* .container 클래스에 대한 스타일 설정 */
.container{
    width: 1140px; /* 컨테이너의 너비를 1140픽셀로 설정 */
    margin: 0 auto; /* 컨테이너의 상하 여백을 0, 좌우 여백을 자동으로 설정하여 가운데 정렬 */
}
  
/* header 요소에 대한 스타일 설정 */
header{
  position: absolute; /* header의 위치를 절대 위치로 설정. 이로 인해 상위 요소를 기준으로 위치가 결정됨 */
  color: black; /* header 안의 텍스트 색상을 검은색으로 설정 */
  top: 0; /* header의 상단을 상위 요소의 상단에 붙여서 위치를 설정 */
  z-index: 1; /* header의 스택 순서를 1로 설정. 이로 인해 다른 요소와 겹칠 경우 header가 위에 위치함 */
  width: 100%; /* header의 너비를 상위 요소의 전체 너비로 설정 */
  padding: 1rem; /* header 내부의 여백을 1rem(상대적 단위)으로 설정 */
}

/* header 내부의 .container 클래스에 대한 스타일 설정 */
header .container{
    display: flex; /* 컨테이너 내부의 요소를 flexbox로 배치 */
    justify-content: space-between; /* 컨테이너 내부의 요소 사이에 공간을 동일하게 배분 */
    align-items: center; /* 컨테이너 내부의 요소를 중앙에 위치시킴 */
    width: 100%; /* 컨테이너의 너비를 상위 요소의 전체 너비로 설정 */
}

/* header 내부의 nav 태그 안의 ul에 대한 스타일 설정 */
header nav ul{
    display: flex; /* ul 내부의 li 요소를 flexbox로 배치 */
}

/* header 내부의 nav 태그 안의 ul의 li에 대한 스타일 설정 */
header nav ul li{
    padding: 10px; /* li 요소의 내부 여백을 10픽셀로 설정 */
}

/* header 내부의 button에 대한 스타일 설정 */
header button{
    background: transparent; /* 버튼의 배경색을 투명으로 설정 */
    border: 0; /* 버튼의 테두리를 제거 */
    cursor: pointer; /* 마우스 커서를 버튼 위에 올렸을 때의 모양을 '손가락' 모양으로 설정 */
}

/* header 내부의 h1 태그 안의 button에 대한 스타일 설정 */
header h1 button{
    font-size: 2rem; /* 폰트 크기를 2rem으로 설정 */
    font-weight: bold; /* 폰트 두께를 bold로 설정 */
}

/* header 내부의 nav 태그 안의 ul의 li 안의 button에 대한 스타일 설정 */
    header nav ul li button{
    font-size: 1.2rem; /* 폰트 크기를 1.2rem으로 설정 */
}
  
  